@import "./../../theme-chalk/src/common/var.scss";
@import "./../../theme-chalk/src/mixins/mixins";
@import "./base.scss";
@include b(fullscreen) {
    background: $--color-primary;
    display: inline-block;
    padding: 0;
    &.full {
        padding: 50px;
        transition: all 0.2s;
    }
}